<footer class="navbar-dark bg-dark">
    <div class="container py-5" style="width: 30%">
        <div class="row justify-content-center">
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://twitter.com/?lang=en" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://dribbble.com/" target="_blank">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://github.com/xiaoxin008" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://plus.google.com/" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://www.behance.net/" target="_blank">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://web.500px.com/" target="_blank">
                    <i class="fa fa-500px"></i>
                </a>
            </div>
            <div class="col-6 col-md">
                <a class="footer-icon" href="https://mail.163.com/" target="_blank">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center footer-notice">
        <span>@Untitled. All right reserved | Design & Hexo xiaoxin008</span>
    </div>
</footer>