<% if (page.total > 1){ %>
    <nav class="page-nav text-center">
        <%- paginator({
            prev_text: "&laquo;" + __('Paginator.Prev'),
            next_text: __('Paginator.Next') + "&raquo;"
        }) %>
    </nav>
<% } %>