<div class="container body-content-wapper py-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 offset-md-1">
                    <img src="/css/img/my.jpg" class="rounded-circle avatar">
                </div>
                <div class="col-md-8 offset-md-1 resume">
                    <label class="row">
                        <span class="col-md-6">name: xiaoxin008</span>
                        <span class="col-md-6">gender: man</span>
                        <span class="col-md-6">address: BeiJing</span>
                        <span class="col-md-6">profession: Java</span>
                        <span class="col-md-6">like: food</span>
                        <span class="col-md-6">phone: 183XXX6916</span>
                        <span class="col-md-12">email: 313595055@qq.com</span>
                    </label>
                </div>
                <div class="col-md-10 offset-md-1 skill text-center row">
                    <button name="skill" type="button" class="button button-3d button-caution button-rounded col-md ">Skill</button>
                    <button name="friend" type="button" class="button button-3d button-highlight button-rounded col-md ">Friend</button>
                    <button name="website" type="button" class="button button-3d button-action button-rounded col-md ">Website</button>
                    <button name="hobby" type="button" class="button button-3d button-primary button-rounded col-md ">Hobby</button>
                    <button name="summary" type="button" class="button button-3d button-royal button-rounded col-md ">Summary</button>
                </div>
                <div class="col-md-10 offset-md-1 skill text-center row button-cards">
                    <div class="card text-white mb-3 col-md skill-card">
                        <div class="card-body">
                            <h5 class="card-title">My Skill</h5>
                            <p class="card-text">#SprirgMVC #SpringBoot #SpringCloud #Mybatis #Dubbo #Redis</p>
                        </div>
                    </div>
                    <div class="card text-white mb-3 col-md friend-card">
                        <div class="card-body">
                            <h5 class="card-title">My Social</h5>
                            <p class="card-text">My Partener: <a href="https://github.com/chongiofai">https://github.com/chongiofai</a></p>
                        </div>
                    </div>
                    <div class="card text-white mb-3 col-md website-card">
                        <div class="card-body">
                            <h5 class="card-title">My Collection</h5>
                            <p class="card-text">JavaScript: <a href="https://github.com/purplebamboo/blog/issues/16">https://github.com/purplebamboo/blog/issues/16</a></p>
                        </div>
                    </div>
                    <div class="card text-white mb-3 col-md hobby-card">
                        <div class="card-body">
                            <h5 class="card-title">My Hobby</h5>
                            <p class="card-text">Eat</p>
                        </div>
                    </div>
                    <div class="card text-white mb-3 col-md summary-card">
                        <div class="card-body">
                            <h5 class="card-title">My Summary</h5>
                            <p class="card-text">More Hard, More Fortunate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial('_partial/footer') %>
<%- js('js/about.js') %>